.App {
  text-align: center;
  background-color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  background-image:url(../public/button.jpg);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col-xs-6 {
    opacity:1.0;
    color: #222;
    font-size: x-large;
    height:auto;
    width:400px;
    margin: 5px;
    margin-bottom: 35px;
    padding-top:5px;
    font-weight:bold;
    text-align:center;
    display:table-cell;
}

.container {

    background: rgba(255, 255, 255, .85);
    color: #222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:10px;
    border-color:#e0e0e0;
    border-width:1.5px;
    border-style:solid;
    padding-top: 10px;
    padding-bottom:10px;
    margin-top: 20px;
    object-position:center;
}

.selection_yes {
    opacity:1.0;
    background-color: #cfcfcf;
    color: #222;
    height: 40px;
    font-style: bold;
    border-radius:10px;
    margin-bottom:5px;
    padding-left: 5px;
    padding-top: 5px;
    font-weight:bold;
    border:thin;
    
    display:table-cell;
    object-position:center;
    width:200px;
    background-image:url(../public/button.jpg);
    background-size:cover;
}

.selection_no {
    
    padding-top: 5px;
    width:200px;
    opacity:1.0;
    background-color: #f0f0f0;
    color: #222;
    height: 40px;
    font-style: bold;
    border-radius:10px;
    margin-bottom:5px;
    padding-left: 5px;
    
    display:table-cell;
    object-position:center;
}


.button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:solid;
    border-width:1px;
    border-color: white;
    border-radius:10px;
    margin-left: 5px;
    margin-bottom:10px;
    font-size:20px;
    background-image:url(../public/button.jpg);
    background-size:cover;
    width:200px;
    display:table-cell;
}

.comment{
    
    background-image:url(../public/karomuster.jpg);
    background-size:cover;

    color: #ffe4e4;
    background-image:linear-gradient( #222, #4e4e4e);
    padding-left: 5px;
    background-image:url(../public/logo.jpg);
    background-size:contain;
    width:300px;
    height:207px;
}

.textfeld {
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:solid;
    border-color: black;
    border-width: 1px;
    border-radius:10px;
    background-color: #222;
    margin-left: 5px;
    margin-bottom:10px;
    font-size:20px;
    display:table-cell;
    text-align:center;
    width:200px;
}

.row {
    opacity:1.0;
    margin-bottom: 30px;
    text-align:center;
    display:table-row;
}

.form {
    display:table-cell;	
}

body {
    background-color:black;
    background-image:url(../public/couple_background.jpg);
    background-size:cover;

}

.header{
    position:center;
    top: 0px;
    left: 0px;
    height:150px;
    width:300px;
    font-family:'Trebuchet MS';
    font-size:50px;
    font-weight:bold;
    color:#fa0000;
    display:table-cell;
    text-align:center;
    
    background-image:url(../public/couple.png);
    background-size:cover;
}

.subheader{
    opacity: 0.95;
    color:#d56d6d;
    font-size: 20px;
    margin: 0px;
    padding-top:0px;
    font-weight:bold;
    text-align:center;
    display:table-cell;
    transform: rotate(-5deg);
    margin: 0 auto;
    width: 1%;
}

.welcome {
    font-size: 20px;
    color: #222;
    text-align: center;
}

.mapboxgl-marker{
  transition: all 6s;
}